* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  a {
    text-decoration: none;
  }
}
section {
  margin-block: 30px;
}
.header {
  margin-bottom: 35px;
  h2 {
    font-size: 42px;
    font-weight: 500;
  }
  p {
    color: #1cc3b2;
  }
}

.item:hover {
  transform: translateY(-15px);
  .heading {
    color: #2a303b;
    opacity: 0.4;
  }
}

.item {
  transition-duration: 0.7s;
  .image {
    img {
      width: 100%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .date {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .heading {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #2a303b;
  }
}

.contact-part {
  background-image: url(https://wallpapers.com/images/featured/city-background-vk49vrjolueijq7a.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 50px;
  padding: 80px 50px;
  color: #ffffff;
  position: relative;
 img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
 }
  .contact-side {
    position: absolute;
    left: 30px;
    top: 40px;
    width: 60%;
    h2 {
      font-size: 36px;
      font-weight: 500;
    }
  }
  .contact-button {
    position: absolute;
    right: 5px;
    top: 60px;
    width: 20%;
    button {
      color: #ffffff;
      cursor: pointer;
      background-color: #1cc3b2;
      padding: 10px 30px;
      border: none;
      border-radius: 3px;
    }
  }
  .contact-button:hover button{
    background-color: #ffffff;
    color: #1cc3b2;
  }
}
.footer{
  width: 80%;
  margin: 0 auto;
  margin-block: 30px;
  .last-icons{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      width: 6%;
      height: 50px;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
